// MEDIAS QUERIES PORFOLIO.HTML
// Version Smartphone
@media (min-width: 576px){
    .gridPadre{
        display: grid;
        grid-template-areas: 
        "nav"
        "sectionH"
        "sectionA"
        "sectionB"
        "sectionC"
        "footer"
        }
    }

// Version Tablet
@media (min-width: 768px){
.gridPadre{
    display: grid;
    grid-template-areas: 
    "nav nav"
    "sectionH sectionH"
    "sectionA sectionA"
    "sectionB sectionB"
    "sectionC sectionC"
    "footer footer"
    }
}

// Version Escritorio
@media (min-width: 1024px){
    .gridPadre{
        display: grid;
        grid-template-areas: 
        "nav nav nav"
        "sectionH sectionH"
        "sectionA sectionA"
        "sectionB sectionB"
        "sectionC sectionC"
        "footer footer"
        }
    }