*{margin: 0; padding: 0;}

$primary-color: rgb(0, 0, 0);
$formato-name: bg-dark;
$strong-text: x-large;
$square-text: medium;


#square {
    background-color: $primary-color;
}

#rectangular {
    background-color: $formato-name;
}    

#strong {
    font-size:$strong-text;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
  }
    
    .container {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      margin-right: auto;
      margin-left: auto;
    }
    
    .image-container {
      text-align: center;
      width: 100%;
    }
    
    .links-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }



