* {margin: 0; padding: 0;}

@import "variable";

#square {
    background-color: $primary-color;
}

#rectangular {
    background-color: $formato-name;
}

#strong {
    font-size: $strong-text;
}

#paragraph{
  text-align:$paragraph-align;
  padding-top: 20px;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@keyframes img {
    0% {
        opacity: 0%;
    }

    25% {
        opacity: 25%;
    }

    50% {
        opacity: 50%;
    }

    75% {
        opacity: 75%;
    }

    100% {
        opacity: 100%;
    }
}

.image-container {
    text-align: center;
    width: 100%;

    .img_index {
        animation-name: img;
        animation-duration: 1s;
    }

}


.links-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}