@import "mediasq";

.gridBody{
    margin: 0;
    padding: 0;
}

.sectionH {
    grid-area: sectionH;

    h1 {
        grid-area: h1;
    }

}

.sectionA {
    grid-area: sectionA;
}

.sectionB {
    grid-area: sectionB;
}

.sectionC {
    grid-area: sectionC;

    figure {
        grid-area: figure;
    }
}

.sectionVideo {
    grid-area: sectionVideo;
}

.footer {
    grid-area: footer;
}

.animate__animated.animate__fadeIn {
    --animate-duration: 5s;
}